<section id="service">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="feature_header text-center">
                    <h3 class="feature_title"><b>Choose Your Destiny</b></h3>
                    <h4 class="feature_sub">We’re on a quest: bring our dream ideas to life, and make them as awesome on the screen as they are in our heads. To accomplish that, we need smart, driven people with serious talents. Want in? What do you want to do?</h4>
                    <div class="divider"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="main_feature text-center">
                <div class="col-md-3 col-xs-12 col-sm-6">
                    <div class="feature_content">
                        <i class="fa fa-magic"></i>
                        <h5>Art & Animation</h5>
                        <button class="btn btn-main">@Resources.lang.Details</button>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6">
                    <div class="feature_content">
                        <i class="fa fa-gears"></i>
                        <h5>Engineering</h5>
                        <button class="btn btn-main">@Resources.lang.Details</button>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6">
                    <div class="feature_content">
                        <i class="fa fa-keyboard-o"></i>
                        <h5>Production</h5>
                        <button class="btn btn-main">@Resources.lang.Details</button>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6">
                    <div class="feature_content">
                        <i class="fa fa-globe"></i>
                        <h5>Operations</h5>
                        <button class="btn btn-main">@Resources.lang.Details</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
