<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="feature_header text-center">
                    <h3 class="feature_title">@Resources.lang.Our <b>@Resources.lang.Work</b></h3>
                    <h4 class="feature_sub">@Resources.lang.WorkSub </h4>
                    <div class="divider"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="isotope-filter" class="skew3 text-center">
        <a data-filter="*" href="#" class="active ">All</a>
        <a data-filter=".identity" href="#" class="">Identity</a>
        <a data-filter=".web-design" href="#" class="">Web Design</a>
        <a data-filter=".graphic" href="#" class="">Graphic</a>
        <a data-filter=".logo" href="#" class="">Photography</a>
    </div>
    <div class="clearfix"></div>
    <div class="text-center ">
        <ul class="portfolio-wrap" id="portfolio_items">
            <li class="col-md-3 col-xs-12 col-sm-6 single-portfolio identity web-design">
                <figure>
                    <img src="~/wwwroot/images/portfolio/p1.jpg" alt="" class="img-responsive" />
                    <figcaption>
                        <h5>Creative Zoe</h5>
                        <p class="links">
                            <a href="portfolio-single.html"> <i class="fa fa-link"></i></a>
                            <a href="images/portfolio/p1.jpg" data-rel="prettyPhoto">
                                <i class="fa fa-plus"></i>
                            </a>
                        </p>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </figcaption>
                </figure>
            </li>
            <li class="col-md-3 col-xs-12 col-sm-6 single-portfolio logo graphic">
                <figure>
                    <img src="~/wwwroot/images/portfolio/p2.jpg" alt="" class="img-responsive" />
                    <figcaption>
                        <h5>Creative Zoe</h5>
                        <p class="links">
                            <a href="portfolio-single.html"> <i class="fa fa-link"></i></a>
                            <a href="images/portfolio/p2.jpg" data-rel="prettyPhoto">
                                <i class="fa fa-plus"></i>
                            </a>
                        </p>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </figcaption>
                </figure>
            </li>
            <li class="col-md-3 col-xs-12 col-sm-6 single-portfolio graphic logo">
                <figure>
                    <img src="~/wwwroot/images/portfolio/p3.jpg" alt="" class="img-responsive" />
                    <figcaption>
                        <h5>Creative Zoe</h5>
                        <p class="links">
                            <a href="portfolio-single.html"> <i class="fa fa-link"></i></a>
                            <a href="images/portfolio/p3.jpg" data-rel="prettyPhoto">
                                <i class="fa fa-plus"></i>
                            </a>
                        </p>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </figcaption>
                </figure>
            </li>
            <li class="col-md-3 col-xs-12 col-sm-6 single-portfolio web-design identity">
                <figure>
                    <img src="~/wwwroot/images/portfolio/p7.jpg" alt="" class="img-responsive" />
                    <figcaption>
                        <h5>Creative Zoe</h5>
                        <p class="links">
                            <a href="portfolio-single.html"> <i class="fa fa-link"></i></a>
                            <a href="images/portfolio/p7.jpg" data-rel="prettyPhoto">
                                <i class="fa fa-plus"></i>
                            </a>
                        </p>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </figcaption>
                </figure>
            </li>
            <li class="col-md-3 col-xs-12 col-sm-6 single-portfolio logo web-design">
                <figure>
                    <img src="~/wwwroot/images/portfolio/p5.jpg" alt="" class="img-responsive" />
                    <figcaption>
                        <h5>Creative Zoe</h5>
                        <p class="links">
                            <a href="portfolio-single.html"> <i class="fa fa-link"></i></a>
                            <a href="images/portfolio/p5.jpg" data-rel="prettyPhoto">
                                <i class="fa fa-plus"></i>
                            </a>
                        </p>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </figcaption>
                </figure>
            </li>
            <li class="col-md-3 col-xs-12 col-sm-6 single-portfolio logo graphic">
                <figure>
                    <img src="~/wwwroot/images/portfolio/p6.jpg" alt="" class="img-responsive" />
                    <figcaption>
                        <h5>Creative Zoe</h5>
                        <p class="links">
                            <a href="portfolio-single.html"> <i class="fa fa-link"></i></a>
                            <a href="images/portfolio/p6.jpg" data-rel="prettyPhoto">
                                <i class="fa fa-plus"></i>
                            </a>
                        </p>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </figcaption>
                </figure>
            </li>
            <li class="col-md-3 col-xs-12 col-sm-6 single-portfolio graphic identity">
                <figure>
                    <img src="~/wwwroot/images/portfolio/p3.jpg" alt="" class="img-responsive" />
                    <figcaption>
                        <h5>Creative Zoe</h5>
                        <p class="links">
                            <a href="portfolio-single.html"> <i class="fa fa-link"></i></a>
                            <a href="images/portfolio/p3.jpg" data-rel="prettyPhoto">
                                <i class="fa fa-plus"></i>
                            </a>
                        </p>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </figcaption>
                </figure>
            </li>
            <li class="col-md-3 col-xs-12 col-sm-6 single-portfolio web-design graphic">
                <figure>
                    <img src="~/wwwroot/images/portfolio/p7.jpg" alt="" class="img-responsive" />
                    <figcaption>
                        <h5>Creative Zoe</h5>
                        <p class="links">
                            <a href="portfolio-single.html"> <i class="fa fa-link"></i></a>
                            <a href="images/portfolio/p7.jpg" data-rel="prettyPhoto">
                                <i class="fa fa-plus"></i>
                            </a>
                        </p>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </div>
</section>