
<section id="slider_part">
    <div class="carousel slide" id="carousel-example-generic" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="overlay-slide">
                    <img src="~/wwwroot/images/banner/p10.jpg" alt="" class="img-responsive">
                </div>
                <div class="carousel-caption">
                    <div class="container">
                        <div class="hero-content text-center">
                            <div class="hero-text wow fadeIn" data-wow-delay=".8s">
                                <h2 style="font-size: 40px;">Hello World</h2>
                                <h3 class="animated2">Lorem ipsit dolor sit amet</h3>
                                <p class="hero-buttons">
                                    <strong>Lorem ipsit dolor sit amet</strong>
                                    <strong>Lorem ipsit dolor sit amet</strong>
                                </p>

                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-12 col-xs-12 text-center">
                        <h2>嘀嗒校园</h2>
                        <h3 class="animated2">校园二手 </h3>
                        <div class="line"></div>
                        <p class="animated3">@ViewBag.Title</p>
                        <p class="hero-buttons">
                        <strong>@Html.ActionLink("发布商品", "Publish", "TanZone", new { PartId = Request.QueryString["PartId"] }, new { @class = "btn btn-dark" })</strong>
                        <strong>@Html.ActionLink("创建商店", "UserDetail", "TanZone", new { id = User.Identity.GetUserId() }, new { @class = "btn btn-main featured" }) </strong>
                        </p>
                        @{
                        #warning 这里还有错，抽空改一下
                        }
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</section>
