
<section id="slider_part">
    <div class="carousel slide" id="carousel-example-generic" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="overlay-slide">
                    <img src="~/wwwroot/images/banner/banner.jpg" alt="" class="img-responsive">
                </div>
                <div class="carousel-caption">
                    <div class="col-md-12 col-xs-12 text-center">
                        <h2>Obisoft</h2>
                        <h3 class="animated2"> <b>Obisoft Account</b> Security Service </h3>
                        <div class="line"></div>
                        <p class="animated3">Account Management</p>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</section>
