
<section id="slider_part">
    <div class="carousel slide" id="carousel-example-generic" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="overlay-slide">
                    <img src="~/wwwroot/images/banner/p5.jpg" alt="" class="img-responsive">
                </div>
                <div class="carousel-caption">
                    <div class="col-md-12 col-xs-12 text-center">
                        <h2>Obisoft</h2>
                        <h3 class="animated2">@Resources.lang.Sta1Ani1</h3>
                        <div class="line"></div>
                        <p class="animated3">@Resources.lang.Sta1Ani2</p>
                    </div>
                </div>
            </div>
        </div> 	
    </div>
</section>
