<section id="slider_part">
    <div class="carousel slide" id="carousel-example-generic" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="overlay-slide">
                    <img src="~/wwwroot/images/slider/s3.jpg" alt="" class="img-responsive">
                </div>
                <div class="carousel-caption">
                    <div class="container">
                        <div class="hero-content text-center">
                            <div class="hero-text wow fadeIn" data-wow-delay=".8s">
                                <h2 style="font-size: 40px;">@ViewBag.Title</h2>
                                <h3 class="animated2">@Resources.lang.IVTitle</h3>
                                <p class="hero-buttons">
                                    <strong>@Html.ActionLink(Resources.lang.IVSubTitle, "Careers", "Home", new { PartId = Request.QueryString["PartId"] }, new { @class = "btn btn-dark" })</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
