
@{
    ViewBag.Title = "Applied";
}
@Html.Partial("../Home/_StaticSliderIV")

<div class="container">
    <h2>Applied</h2>
    <p>You have successfully appild the job!</p>
    <a href="@Url.Action("Index","Home")">Back to Home Page</a>
</div>