@{
    ViewBag.Title = Resources.lang.Permission;
}
@Html.Partial("_HomeSlider")
<div class="container">
    <h3>Obisoft @ViewBag.Title.</h3>
    <hr />

    <p>
        我们十分重视您的隐私。本隐私声明解释了我们从您那里收集的个人数据内容以及我们将如何使用这些数据。我们建议您阅读下方概述，然后单击“了解详情”获得更多有关特定主题的详细信息。
    </p>
    <p>
        特定于服务的详细信息部分提供了与特定 Obisoft 服务相关的其他信息。此声明适用于下列 Obisoft 服务以及显示此声明的其他 Obisoft 服务。本声明中所提到的 Obisoft 服务包括 Obisoft 网站、应用、软件和设备。
    </p>

    <h4>我们收集的个人数据</h4>
    <hr />
    <p>
        Obisoft 收集数据以便高效运营，以及为您提供最佳的服务体验。您直接提供部分此类数据，例如当您创建 Obisoft 帐户、向必应提交搜索查询、向 Cortana 发出语音指令、向 OneDrive 上传文件或联系我们获得支持时。我们通过记录您如何与我们的服务交流互动而获得部分数据，例如，通过 Cookie 之类的技术，以及从您设备上运行的软件接收错误报告或使用数据。我们还通过第三方（包括其他公司）获得数据。
    </p>

    <h4>我们如何使用个人数据</h4>
    <hr />
    <p>
        Obisoft 通过我们收集的数据向您提供我们的服务，服务内容包括使用数据改进并个性化您的体验。我们也可能使用数据来与您通信，例如通知您有关您的帐户、安全性更新和产品信息。并且，我们使用数据制作比我们展示给您的与您关系更密切的广告。然而，我方不会使用您在电子邮件、聊天、视频通话或语音邮件中所说的内容，或您的文件、照片或其他个人文件，针对您提供广告。
    </p>

    <h4>我们共享个人数据的原因</h4>
    <hr />
    <p>
        我们在征得您同意后，或以完成某些交易/提供您请求或授权的服务为必要前提，共享您的个人数据。以下情况下，我们也会向 Obisoft 控股的分公司和子公司；代表我们的供应商共享或披露信息：法律要求或响应法律程序时；保护我们的客户；保护生命；维护我们服务的安全；保护 Obisoft 的权利和财产。 
    </p>

    <h4>如何访问和控制您的个人数据</h4>
    <hr />
    <p>
        您可以为许多 Obisoft 服务在线查看或编辑您的个人数据。您也可以针对 Obisoft 对您数据的收集和使用进行选择。您访问或控制您的个人数据的方式取决于您使用的服务。
    </p>
    <p>
        您始终可以选择是否接收来自 Obisoft 的促销电子邮件、短信、电话和信件。您还可以通过访问我们的 选择退出页面 退出从 Obisoft 接收基于兴趣的广告。
    </p>

    <h4>Cookie 及类似技术</h4>
    <hr />
    <p>
        Obisoft 使用 Cookie（下载到您设备中的小型文本文件）和类似的技术来提供我们的服务并协助收集数据。Cookie 可让我们可以存储您的偏好和设置以及其他一些功能；使您能够登录；提供基于兴趣的广告；打击欺诈行为；分析我们服务的表现。Obisoft 应用程序使用其他标识符，如 Windows 内的广告 ID，以实现类似目的。 
    </p>
    <p>
        我们也使用 Web 信号帮助提供 Cookie 和收集关于我们服务的使用和表现数据。我们的服务可能包含来自第三方服务提供商的 Web 信号和 Cookie。 
    </p>
    <p>
        您有各种可以控制 Cookie、Web 信号和类似技术的工具，包括用于阻挡和删除 Cookie 的浏览器控件和来自某些第三方分析服务提供商的控件，通过 Web 信号退出数据收集。您的浏览器和其他选择可能影响您对我们服务的体验。
    </p>
</div>
