<section>
    <h4>@Resources.lang.WhyAccountHeader</h4>
    <hr />
    <ul>
        <li>
           @Resources.lang.WhyAccountC1
        </li>
        <li>
            @Resources.lang.WhyAccountC2
        </li>
        <li>
            @Resources.lang.WhyAccountC3
        </li>
    </ul>
</section>
